html,body{
	margin:0
}

#calendar{
	background-color:#F8F8F8;
}
.wrap{
	max-width:540px;
	margin:auto;
	.header{
		text-align:center;
		height:48px;
		line-height:48px;
	}
}

.tb-cal{
	width:100%;
	color:#787777;
	font-size:14px;
	border-bottom:2px solid #EDF2F5;
	td{
		text-align:center;
		height:2.5rem;
	}
}

.list{
	list-style:none;
	padding-left:2.5rem;

	li{
		height:2rem;
		line-height:2rem;
		position:relative;
		color:#A7A7A7;
		line-height:32px;
		border-bottom:1px solid #F2F6F9;
		&::before{
			content:' ';
			display:block;
			position:absolute;
			left:-1.5rem;
			top:50%;
			transform:translateY(-50%);
			width:.5rem;
			height:.5rem;
			border-radius:50%;
		}

		&:nth-child(1)::before{
			background:#3B55E5;
		}

		&:nth-child(2)::before{
			background:#F5A31B;
		}

		&:nth-child(3)::before{
			background:#31CE91;
		}

		&:nth-child(4)::before{
			background:#F6604E;
		}

	}
}

